version: "3.7"

services:
  clickhouse:
    container_name: clickhouse
    image: clickhouse/clickhouse-server:latest
    expose:
      - "8123"
      - "9000"
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_DB: "metricflow"
      CLICKHOUSE_USER: "metricflow"
      CLICKHOUSE_PASSWORD: "metricflowing"
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: "1"
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
